<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discovery</title>
    <link rel="stylesheet" href="/Frontend/assets/css/main.css">
</head>
<body>
    <div class="profilecontainer">
        <nav class="mainnav">
            <h3>Mentorship Platform</h3>
            <ul>
                <li><a href="/Frontend/views/profile.html">Profile</a></li>
                <li><a href="/Frontend/views/requests.html">Requests</a></li>
                <li><a href="/Frontend/views/discovery.html">Discovery</a></li>
            </ul>
            <div class="logout_btn">
                Logout
            </div>
        </nav>
        

    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.7.9/dist/axios.min.js"></script>
    <script src="/Frontend/assets/js/discovery.js"></script>
</body>
</html>