<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentorship Platform</title>
    <link rel="stylesheet" href="/Frontend/assets/css/main.css">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <ul>
                <li>Home</li>
                <li>About Us</li>
                <li>Contact Us</li>
            </ul>
            <ul>
                <li class="login-btn"><a href="/Frontend/views/login.html">Login</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>