<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="/Frontend/assets/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h1 id="login_text">Login</h1>
            <div class="input_box">
                <input type="email" placeholder="Email" name="email" id="email">
            </div>
            <div class="input_box">
                <input type="password" placeholder="Password" name="password" id="password">
            </div>
            <button id="loginBtn" class="loginBtn">Login</button>
            <div class="" >
                <span id="register_change">If you don't have account</span>  <span id="Register_click" >Register</span>
            </div>
        </div>
    </div>

    <script src="/Frontend/assets/js/auth.js"></script>
</body>
</html>